<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <sprAng-header/>

    <main class="main">
        <div class="card-div">
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Veículo
                </h1>
    
                <div class="card-info">
                    <select name="" id="">
                        
                    </select>
                </div>
            </sprAng-car-data-card>
    
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Total de Vendas
                </h1>
    
                <div class="card-info">
                    <p>fala mn</p>
                </div>
            </sprAng-car-data-card>
    
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Conectados
                </h1>
    
                <div class="card-info">
                    <p>fala mn</p>
                </div>
            </sprAng-car-data-card>
    
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Update Software
                </h1>
    
                <div class="card-info">
                    <p>fala mn</p>
                </div>
            </sprAng-car-data-card>
        </div>
    </main>
</body>
</html>