<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <sprAng-header/>

    <main class="main">
        <div class="card-div">
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Veículo
                </h1>
    
                <div class="card-info">
                    <select class="car-select" name="car-select" #carSelect (change)="showCarInfo()">
                       @for(vehicle of vehicles; track vehicle.id){
                            <option value="{{ vehicle.id }}">{{ vehicle.vehicle }}</option>
                        }
                    </select>
                </div>
            </sprAng-car-data-card>
    
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Total de Vendas
                </h1>
    
                <div class="card-info">
                    <h2 #carSellInfo></h2>
                    <p>Unids.</p>
                </div>
            </sprAng-car-data-card>
            
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Conectados
                </h1>
                
                <div class="card-info">
                    <h2 #carConnInfo></h2>
                    <p>Unids.</p>
                </div>
            </sprAng-car-data-card>
            
            <sprAng-car-data-card class="car-card">
                <h1 card-title class="card-title">
                    Software Update
                </h1>
                
                <div class="card-info">
                    <h2 #carSoftUpdInfo></h2>
                    <p>Unids.</p>
                </div>
            </sprAng-car-data-card>
        </div>

        <div class="car-img-div">
            <img alt="" #carImg>
        </div>

        <div  class="table-div">
            <sprAng-table/>
        </div>
    </main>
</body>
</html>