<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">   
        <section class="img-section">
            <img class="car-img" src="img/ranger.png" alt="">
        </section>
        <section class="info-section">
            <img class="ford-logo" src="img/ford.png" alt="">

            <div class="input-div">
                <h1 class="div-title">Welcome!</h1>

                <input type="email" name="" id="">
                <input type="password" name="" id="">
                <sprAng-round-switch-button/>
                <button>Log-in</button>
            </div>
        </section>   
    </main>
</body>
</html>
