/* Louvado seja o Senhor */

.main{
    height: 100vh;
    display: flex;
}

.img-section{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.car-img{
    width: 100%;
    opacity: 50%;
}

.info-section{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    border-left: 3px solid var(--secondary-color);
}

.input-div{
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2.5rem;
}

.ford-logo{
    width: 15rem;
    position: absolute;
    top: 10%;
}

.login-inputs-div{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.input-label{
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
}

.login-inputs-div .ph{
    padding: 0 0.5rem;
    color: var(--primary-color);
    font-size: 1.25rem;
}

.login-input{
    width: 20rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0 7px 7px 0;
}

.ph-info, .ph-eye, .ph-eye-slash{
    cursor: pointer;
}

.switch{
    align-self: flex-end;
}

.login-button{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0.75rem 0;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.login-button:hover{
    background-color: var(--highlight-color);
}