<!-- Louvado seja o Senhor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">   
        <section class="img-section">
            <img class="car-img" src="img/ranger.png" alt="">
        </section>
        <section class="info-section">
            <img class="ford-logo" src="img/ford.png" alt="">

            <div class="input-div">
                <h1 class="div-title">Welcome!</h1>
                <form class="login-inputs-div" id="loginForm" (submit)="login($event)">
                    <label for="emailInp" class="input-label">
                        <i class="ph ph-user"></i>
                        <input #usernameInput class="login-input" type="text" name="emailInp" placeholder="Username" id="emailInput" required>
                        <i class="ph ph-info"></i>
                    </label>
                    
                    <label for="passwordInp" class="input-label">
                        <i class="ph ph-password"></i>
                        <input #passwordInput class="login-input" type="password" name="passwordInp" placeholder="Senha" id="passwordInput" required>
                        <i #passwordIcon class="ph ph-eye" (click)="changePasswordVisibility()"></i>
                    </label>

                    <sprAng-round-switch-button class="switch"/>
                    
                    <button class="login-button" type="submit">Log-in</button>
                </form>
            </div>
        </section>   
    </main>
</body>
</html>
