/* Louvado seja o Senhor */

.body{
    width: 15rem;
    height: 15rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 5px 5px 0 0;
}

.main{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}