<!-- Louvado seja o Senhor -->

<dialog #menu class="menu-dialog" (close)="closeMenu()">
    <nav class="menu-field">
        <div class="menu-img-div">
            <img class="ford-logo" src="img/ford.png" alt="">
            <i (click)="closeMenu()" class="ph ph-x"></i>
        </div>
        <ul class="menu-list">
            <a href="/home">
                <li class="menu-list-item">Home</li>
            </a>
            <a href="/dashboard">
                <li class="menu-list-item">Dashboard</li>
            </a>
        </ul>
    </nav>
</dialog>