<!-- Louvado seja o Senhor -->

<dialog #menu class="menu-dialog" (close)="closeMenu()">
    <nav class="menu-field">
        <div class="menu-img-div">
            <img class="ford-logo" src="img/ford.png" alt="">
            <i (click)="closeMenu()" class="ph ph-x"></i>
        </div>
        <ul class="menu-list">
            <li class="menu-list-item"><a href="/home">Home</a></li>
            <li class="menu-list-item"><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
</dialog>