/* Louvado seja o Senhor */

.card{
    background-color: rgba(255, 255, 255, 0.875);
    border: 2px solid var(--secondary-color);
    width: 30rem;
    height: 25rem;
}

.card-title{
    text-align: center;
    padding: 0.5rem 0;
    color: var(--tertiary-color);
}

.card-info{
    border-top: 2px solid var(--secondary-color);
}

.card-message{
    padding: 0.5rem;
}