/* Louvado seja o Senhor */

table{
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    border-radius: 4px;
    width: 90vw;
}

thead tr{
    color: var(--primary-color);
}

th{
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
}

td{
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
}

.input-td input{
    width: 100%;
}